:root {
  --student-todo: #81c784;
  --student-done: #4caf50;
  --guwen-todo: #7986cb;
  --guwen-done: #3f51b5;
  --wenan-todo: #f48fb1;
  --wenan-done: #e91e63;
}

.gantt-container {
  width: 68vw;
  height: 78vh;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.s .bar {
  fill: var(--student-todo) !important;
}
.s .bar-progress {
  fill: var(--student-done) !important;
}

.g .bar {
  fill: var(--guwen-todo) !important;
}
.g .bar-progress {
  fill: var(--guwen-done) !important;
}

.w .bar {
  fill: var(--wenan-todo) !important;
}
.w .bar-progress {
  fill: var(--wenan-done) !important;
}

#annotation-area {
  position: absolute;
  left: 1rem;
  top: 0em;
  display: flex;
  flex-direction: column;
}

#logo {
  max-width: 10rem;
  max-height: 10rem;
}

#logo svg {
  max-height: 100%;
  max-width: 100%;
}

#legend {
  max-width: calc(30vw - 3rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

#legend div {
  display: flex;
  flex-direction: row;
}

.todo-legend,
.done-legend {
  width: 3rem;
  flex-grow: 1;
}

.done-legend {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.todo-legend {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#title,
#caption-table {
  font-family: serif;
}

#title {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
}

#caption-table {
  margin: auto;
  text-align: center;
}

#caption-table table {
  text-align: left;

  /* inter-cell space */
  border-collapse: separate;
  border-spacing: 1rem 0.4rem;

  /* center the table within its parent */
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#caption-table table .row-header {
  font-weight: 700;
  text-align: left;
}

#filler {
  height: 6vh;
}
