<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      /* frappe_js */
    </script>
    <style>
      /* frappe_css */
      /* css */
    </style>
    <title>Gantt</title>
  </head>
  <body>
    {% if plan.title or plan.state or plan.goals %}
    <h1 id="title">/* plan.title */</h1>

    {% if plan.state or plan.goals %}
    <div id="caption-table">
      <table>
        {% if plan.state %}
        <tr>
          <td class="row-header">/* plan.state_label */</td>
          <td id="state">/* plan.state */</td>
        </tr>
        {% endif %} {% if plan.goals %}
        <tr>
          <td class="row-header">/* plan.goals_label */</td>
          <td id="goals">/* plan.goals */</td>
        </tr>
        {% endif %}
      </table>
    </div>
    {% endif %} {% else %}
    <div id="filler"></div>
    {% endif %}

    <div id="gantt-container">
      <svg id="gantt"></svg>
    </div>
  </body>
  <script>
    const ganttChart = new Gantt(
      "#gantt", /* plan.tasks */,
      {
        bar_height: 28,
        padding: 12,
        view_modes: ["Day", "Week", "Month"],
        view_mode: "Month",
      }
    );
  </script>
</html>
